<p>{{city.name}}'s Details</p>
<p>Country: {{city.country}}</p>

<hr>

<h4>Location: {{fullLocation}}</h4>

<p>Rentals available in {{city.name}}:</p>
<ul>
   {{#each sortedRentals as |rental|}}
    <li>{{rental.owner}}'s {{rental.type}} with {{rental.bedrooms}} rooms
    </li>
  {{/each}}

</ul>

<button {{action 'delete' city}}>Delete This City</button>
